@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
body {
    /*background: url(/images/background.jpg) no-repeat;*/
    background-color:rgba(224, 224, 224, 0.952);
    background-size: cover;
    background-position: center;
    margin-bottom: 60px;
    font-family: "Manrope", "Encode Sans Expanded", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    /*padding: 20px 100px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border: 1px solid black;*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color:white;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.logo{
    height:70px;
}

.contai {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-bottom:100px;
}


.contai h1 {
    font-size: 28px;
    margin-bottom: 20px;
}


.contai h2 {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 10px;
}


.contai h3 {
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 5px;
}


    .contai h4 {
        margin-bottom: 15px;
        font-size: 18px;
    }


.contai ul {
    margin-bottom: 15px;
    padding-left: 20px;
}

.contai ul li{
    list-style:none;
}

.contai section {
    margin-bottom: 40px;

}
li {
    list-style: none;
}
.table {
    width: 100%;
    border-collapse: collapse;
    margin-block: 15px;
}

    .table td {
        border: 1px solid #ddd;
        padding: 13px;
        text-align: left;
    }

    .table th {
        background-color: #f2f2f2;
    }

    .table tr:nth-child(1) td {
        font-weight: bold;
    }

a {
    text-decoration: none;
    color: black;
    margin-inline:15px;
}
.margintop{
    margin-top:10px;

}
.avatar{
    width:50px;
    height:50px;
    border-radius:50%;
}



.FormSearch {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 15px;
    border: 2px solid black;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.InfoSearch {
    padding: 13px;
    border: none;
    border-radius: 15px;
    flex: 1;
    font-size: 16px;
    width: 350px;
}

.ButtonSearch {
    margin-left: 10px;
    padding: 15px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-height: 300px;
    overflow-y: auto;
    width: 100%;
    box-sizing: border-box;
    top: 100%;
}

.suggestion {
    padding: 10px;
    cursor: pointer;
}

    .suggestion:hover {
        background-color: #f4f4f4;
    }


.logo {
    font-size: 2em;
    color: black;
    user-select: none;
}

.nav .nav-nohover {
    position: relative;
    font-size: 1.1em;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.nav .nav-normal {
    position: relative;
    font-size: 1.1em;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

    .nav .nav-normal::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -6px;
        width: 100%;
        height: 3px;
        background: black;
        border-radius: 5px;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .5s;
    }

    .nav .nav-normal:hover::after {
        transform-origin: left;
        transform: scaleX(1);
    }
.item {
    display: none;
}

.header{
    
}
    .header:hover {
        cursor: pointer;
    }
details summary {
    background-color: rgb(255, 200, 208);
    list-style:none;
    padding: 15px 20px;
    /*border:1px solid black;*/
}
details p {
    padding: 10px 10px;
    margin-bottom: 0px;
    background-color: rgb(255, 219, 224);
}

.form-group{
    margin:10px;
}
.form-group .btn{
    padding:10px 20px;
    margin-top:20px;
}