@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
        var user = await UserManager.GetUserAsync(User);
        var fullName = user.Name;
        <a class="nav-normal" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                @fullName
                <img style="margin-left:10px;" class="user-img-home" src="@Url.Content(user.Image)" alt="Image" />
        </a>
    
}
else
{
        <a asp-area="Identity" asp-page="/Account/Login">
            <btn class="login-button">Đăng nhập</btn>
        </a>
}

<style>
   .user-img-home{
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: 1px solid black;
    }

    .nav .login-button{
        padding: 15px 25px;
        background: transparent;
        border: 2px solid black;
        outline: none;
        border-radius: 6px;
        cursor: pointer;
        font-size: 1.1em;
        color: black;
        font-weight: 500;
        margin-left: 40px;
    }

    .nav .login-button:hover{
            background: black;
            color: white;
    }
</style>
