@model DoAnCNTT.Models.Booking

@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Booking</h4>
<hr />
<div class="">
    <div class="">
        <form asp-controller="Bookings" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PostId" class="control-label"></label>
                <input asp-for="PostId" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="RecieveOn" class="control-label"></label>
                <input asp-for="RecieveOn" type="date" id="startDate" class="form-control" />
                <span asp-validation-for="RecieveOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnOn" class="control-label"></label>
                <input asp-for="ReturnOn" type="date" id="endDate" class="form-control" />
                <span asp-validation-for="ReturnOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" id="Total" class="form-control" readonly />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PromotionId" class="control-label"></label>
                <select asp-for="PromotionId" class="form-control" asp-items="ViewBag.Promotions" id="promotionSelect"></select>
            </div>
            <div class="form-group">
                <label asp-for="FinalValue" class="control-label"></label>
                <input asp-for="FinalValue" id="finalValue" class="form-control" readonly />
                <span asp-validation-for="FinalValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrePayment" class="control-label"></label>
                <input asp-for="PrePayment" id="prePayment" class="form-control" readonly />
                <span asp-validation-for="PrePayment" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script>
    function validateDate() {
        var startDate = document.getElementById("startDate").value;
        var endDate = document.getElementById("endDate").value;

        // Chuyển đổi các chuỗi ngày thành đối tượng Date để so sánh
        var start = new Date(startDate);
        var end = new Date(endDate);

        // Kiểm tra nếu RecieveOn lớn hơn ReturnOn
        if (start > end) {
            // Hiển thị thông báo lỗi
            alert("RecieveOn không được lớn hơn ReturnOn");
            // Thiết lập giá trị của RecieveOn là ngày hiện tại
            document.getElementById("startDate").value = new Date().toISOString().split('T')[0];
            // Thiết lập giá trị của ReturnOn là ngày kế tiếp của RecieveOn
            document.getElementById("endDate").value = new Date(start.getTime() + 86400000).toISOString().split('T')[0];
        }
    }
    $(document).ready(function () {
        $('#startDate, #endDate').change(function () {
            var startDate = $('#startDate').val();
            var endDate = $('#endDate').val();
            var total = @Model!.Total;
            if (startDate && endDate) {
                $.ajax({
                    url: '/Customer/Bookings/CalculateMiddleDate',
                    type: 'POST',
                    data: { startDate: startDate, endDate: endDate, total: total },
                    success: function (result) {
                        //var numberOfDays = parseInt(result);

                        // $('#middleDate').text(numberOfDays);
                        $('#Total').val(result);
                        $('#finalValue').val(result);
                        $('#prePayment').val(result * 0.5);
                    }
                });
            }
        });
        $('#Total, #promotionSelect').change(function () {
            var promotionId = $('#promotionSelect').val();
            var total = $('#Total').val();

            $.ajax({
                url: '/Customer/Bookings/CalculateFinalValue',
                type: 'POST',
                data: { total: total, promotionId: promotionId },
                success: function (result) {
                    $('#finalValue').val(result.total);
                    $('#prePayment').val(result.total * 0.5);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });
    });
</script>
