@model DoAnCNTT.Models.Booking
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Create";
}

<div class="">
    <div class="" style="padding:20px;">
        @* style="border:1px solid;padding:10px;" *@
        <h3 style="font-size:30px;">@Model.Total/ngày</h3>
        <form asp-controller="Bookings" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="PostId" class="control-label"></label>
                <input asp-for="PostId" class="form-control"  />
            </div>
            <div class="form-group" hidden>
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control"  />
            </div>
                <div class="form-group">
                    <label asp-for="RecieveOn" class="control-label">Nhận xe</label>
                    <input asp-for="RecieveOn" type="datetime-local" id="startDate" class="form-control" onchange="validateDate()" />
                    <span asp-validation-for="RecieveOn" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ReturnOn" class="control-label">Trả xe</label>
                    <input asp-for="ReturnOn" type="datetime-local" id="endDate" class="form-control" onchange="validateDate()" />
                    <span asp-validation-for="ReturnOn" class="text-danger"></span>
                </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label">Tổng cộng</label>
                <input asp-for="Total" id="Total" class="form-control" readonly style="border:none;background-color:white;" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PromotionId" class="control-label">Khuyến mãi: </label>
                <select asp-for="PromotionId" id="promotionSelect" class="form-control" asp-items="ViewBag.Promotions"></select>
            </div>
            <div style="display:flex;justify-content: space-between;align-items: center; padding:10px;">
                <div>Thành tiền </div>
                <div class="form-group">
                    <input asp-for="FinalValue" id="finalValue" readonly style="border:none;background-color:white;" />
                    <span asp-validation-for="FinalValue" class="text-danger"></span>
                </div>
            </div>
            <div style="display:flex;justify-content: space-between;align-items: center; padding:10px;">
                <div>Đặt cọc</div>
                <div class="form-group">
                    <input asp-for="PrePayment" id="prePayment" readonly style="border:none;background-color:white;" />
                    <span asp-validation-for="PrePayment" class="text-danger"></span>
                </div>
            </div>
          @*   <div class="form-group">
                <label asp-for="PrePayment" class="control-label">Đặt cọc</label>
                <input asp-for="PrePayment" id="prePayment" class="form-control" readonly style="border:none;background-color:white;" />
                <span asp-validation-for="PrePayment" class="text-danger"></span>
            </div>
 *@
            <div class="form-group">
                @{
                    if (@ViewBag.IsAvailable == false)
                    {
                        <input type="submit" value="Thuê xe" class="btn btn-primary w" disabled />
                    }
                    else
                    {
                        <input type="submit" value="Thuê xe" class="btn btn-primary w" />
                    }
                }
            </div>
        </form>
    </div>
</div>


<style>
    .w{
        width:100%;
    }
    .date-time-form {
        position: relative;
        display: flex;
        border: 1px solid #e0e0e0;
        border-radius: 10px;
        background: #fff;
        margin-bottom: 12px;
    }

    .date-time-form .form-item {
        width: 100%;
        padding: 12px;
        display: flex;
        flex-direction: column;
        grid-gap: 8px;
        gap: 8px;
        cursor: pointer;
    }
</style>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script>
    function validateDate() {
        var startDate = document.getElementById("startDate").value;
        var endDate = document.getElementById("endDate").value;

        // Chuyển đổi các chuỗi ngày thành đối tượng Date để so sánh
        var start = new Date(startDate);
        var end = new Date(endDate);

        // Kiểm tra nếu RecieveOn lớn hơn ReturnOn
        if (start > end) {
            // Hiển thị thông báo lỗi
            alert("Thời gian nhận xe phải trước thời gian trả");
            // Thiết lập giá trị của RecieveOn là ngày hiện tại
            document.getElementById("startDate").value = new Date().toISOString().split('T')[0];
            // Thiết lập giá trị của ReturnOn là ngày kế tiếp của RecieveOn
            document.getElementById("endDate").value = new Date(start.getTime() + 86400000).toISOString().split('T')[0];
        }
    }
    $(document).ready(function () {
        $('#startDate, #endDate').change(function () {
            var startDate = $('#startDate').val();
            var endDate = $('#endDate').val();
            var total = @Model!.Total;
            if (startDate && endDate) {
                $.ajax({
                    url: '/Customer/Bookings/CalculateMiddleDate',
                    type: 'POST',
                    data: { startDate: startDate, endDate: endDate, total: total },
                    success: function (result) {
                        //var numberOfDays = parseInt(result);

                        // $('#middleDate').text(numberOfDays);
                        $('#Total').val(result);
                        $('#finalValue').val(result);
                        $('#prePayment').val(result * 0.5);
                    }
                });
            }
        });
        $('#Total, #promotionSelect').change(function () {
            var promotionId = $('#promotionSelect').val();
            var total = $('#Total').val();

            $.ajax({
                url: '/Customer/Bookings/CalculateFinalValue',
                type: 'POST',
                data: { total: total, promotionId: promotionId },
                success: function (result) {
                    $('#finalValue').val(result.total);
                    $('#prePayment').val(result.total * 0.5);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });
    });
</script>
