@model DoAnCNTT.Models.Invoice

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Chi tiết hóa đơn</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tổng giá tiền:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            Ngày trả xe:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnOn)
        </dd>
        <dt class = "col-sm-2">
            Mã giao dịch:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Booking.Id)
        </dd>
        <dt class = "col-sm-2">
            Ngày tạo hóa đơn:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
    </dl>
</div>
<div>
    <a href="javascript:history.go(-1);">Quay lại</a>
</div>
