@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}


<div>
    <div class="row" style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);margin-top:-15px;min-height:765px;margin-bottom: 115px;">
        <div class="col-md-3" style="margin-left:-10px;">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9" style="padding:30px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);margin-left:10px;min-height:765px;">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
