@model decimal;
    <div style="border: 1px solid #000;
            padding: 10px;
            margin-bottom: 20px;
            background-color: bisque;
            border-radius: 8px">
    <h2>Tổng doanh thu:</h2>
    <p>@ViewBag.AllRevenue</p>
    </div>

    <div style="border: 1px solid #000;
         padding: 10px;
         margin-bottom: 20px;
         background-color: bisque;
         border-radius: 8px">
    <h2>Doanh thu trong tháng này:</h2>
    <p>@ViewBag.MonthRevenue</p>
    </div>

    <div style="border: 1px solid #000;
         padding: 10px;
         margin-bottom: 20px;
         background-color: bisque;
         border-radius: 8px">
    <h2>Doanh thu trong ngày hôm nay:</h2>
    <p>@ViewBag.TotalRevenue</p>
    </div>




